.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;

    img{
        
        width: 100%;
        max-width: 90px;
        max-height: 90px;
        height: 100%;
        object-fit: cover;
    }

    a{
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
        margin-left: 20px;
    }
}