<div class="background">
  <div class="content">


    <div class="introTextContainerLS">
      <span class="introIam">I am</span>
      <div class="introNameContainer">
        <span class="introName">Gerhard Baliet</span>
        <span class="introDev">FRONTEND DEVELOPER</span>
      </div>
    </div>

    <div class="introRightSide">
      <div class="textandbutton">
        <div class="introTextContainer">
          <span class="introIam">I am</span>
          <div class="introNameContainer">
            <span class="introName">Gerhard Baliet</span>
            <span class="introDev">FRONTEND DEVELOPER</span>
          </div>
        </div>
        <a href="#contactMobile" class="contactBtn"> Let's talk!</a>
      </div>
      <div class="introLinks">

        <a href="https://github.com/tzzKr" target="_blank"><img src="./assets/img/socials/git.png" alt="" /></a>
        <a href="mailto:gerhard.baliet.dev@gmail.com"><img src="./assets/img/socials/mail.svg" alt="" /></a>
        <a href="https://www.linkedin.com/in/gerhardbaliet/" target="_blank"><img
            src="./assets/img/socials/Linkedin.svg" alt="" /></a>

      </div>
      
    </div>
    <div class="redLine"></div>
    <img class="shadow1" src="./assets/img/shadows/shadow1.png" alt="">
    <img class="shadow2" src="./assets/img/shadows/shadow5.png" alt="">

  </div>

</div>