.background {
  background-color: #141d2f;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  color: #fff;
  z-index: 3;
  overflow: hidden;
}

.content {
  margin-top: 110px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.textandbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.redLine{
  position: absolute;
  bottom: 150px;
  height: 4px;
  width: 20%;
  left: 0;
  background-color: #FF4747;
}

.shadow1{
position: absolute;
height: auto;
width: 350px;

top: 0;
left: 0;
transform: translate(-145px, 0px);
}
.shadow2{
position: absolute;
height: auto;
width: 350px;

bottom: 10%;
right: 0;
transform: translate(145px, 0px);

}

.introRightSide {
  display: flex;
    position: relative;
    padding-bottom: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: calc(50% - 180px);
    z-index: 2;
    height: calc(100% - 110px);
}

.introTextContainer {
  display: flex;
  box-sizing: border-box;
  padding-right: 50px;
  margin-bottom: 70px;
}

.contactBtn {
  font-size: 23px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #fa7902;
  border: none;
  color: #fff;
  transition: all 0.05s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  text-wrap: nowrap;

  &:hover {
    background-color: #ff4747;
    transform: scale(1.1);
  }
}

.introIam {
  transform: rotate(-90deg) translate(7%, 40%);
  font-size: 64px;
  font-weight: 400;
}

.introNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.introName {
  font-size: 90px;
  font-weight: 700;
}

.introDev {
  font-size: 63px;
  font-weight: 400;
  color: #ff4747 !important;
  transform: translate(0%, -35%);
}

.introLinks {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 42px;
  margin-top: 50px;

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.introTextContainerLS{
  display: none;
}


@media (max-width: 880px) {
  .ImageContainer {
  }

  .introIam {
    font-size: 48px;
  }

  .introName {
    font-size: 70px;
  }

  .introDev {
    font-size: 49px;
  }

  .flatRoundedBackground {
    top: calc(100vh - 55%);
  }
}

@media (max-height: 790px) and (orientation: landscape) {

  .ImageContainer{
    width: 600px;
  }  
}

@media (max-height: 650px) and (orientation: landscape) {

  .ImageContainer{
    width: 480px;
  }  
}

@media (min-height: 770px) and (orientation: portrait) {

  .introLinks{
    margin-top: 32px;
  }

  .introRightSide{
  }
    
}
@media (max-width: 690px) {
  

  .introIam {
    font-size: 38px;
  }

  .introName {
    font-size: 60px;
  }

  .introDev {
    font-size: 39px;
  }

  .flatRoundedBackground {
    top: calc(100vh - 55%);
  }

  .introRightSide {


  }
}

@media (max-width: 580px) {
  .ImageContainer {
  }

  .introIam {
    font-size: 28px;
  }

  .introName {
    font-size: 41px;
  }

  .introDev {
    font-size: 29px;
  }

  .flatRoundedBackground {
    top: calc(100vh - 47%);
  }

  .introRightSide {


  }

  .contactBtn {
    font-size: 17px;
    font-weight: 300;
  }
}

@media (max-width: 450px) {
  .ImageContainer {
  }

  .flatRoundedBackground {
    top: calc(100vh - 55%);
  }

  .introIam {
    font-size: 22px;
  }

  .introName {
    font-size: 30px;
  }

  .introDev {
    font-size: 21px;
  }


  .introLinks {
    margin-top: 20px;

    img {
      width: 30px;
      height: auto;
    }
  }

  .introRightSide {
  }
}

@media (max-width: 300px) {


  .introTextContainer {
    padding-right: 20px;
  }

  .ImageContainer {
  }

  .flatRoundedBackground {
    top: calc(100vh - 45%);
  }

  .introIam {
    font-size: 15px;
  }

  .introName {
    font-size: 23px;
  }

  .introDev {
    font-size: 16px;
  }

}




@media (max-width: 900px) and (max-height: 780px) and (orientation: landscape) {
  .introLinks {
    flex-direction: column;
    gap: 10px;

    img {
      width: 30px;
      height: auto;
    }
  }

  

  .contactBtn {
    font-size: 17px;
    font-weight: 300;
  }

}


@media (max-height: 550px) and (orientation: landscape) {

  
  

  .introIam {
    font-size: 22px;
  }

  .introName {
    font-size: 30px;
  }

  .introDev {
    font-size: 21px;
  }
  

  
  .introLinks{
    flex-direction: row;
    gap: 10px;

    img{
      width: 30px;
      height: auto;
    }
  }

  .introRightSide{
    

    a{
      padding: 10px 20px;
      font-size: 1rem;
    }
  }

   
}