<div class="background">
  <div class="content">
    <div class="textContainer">
      <span>About me</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ducimus
        error magnam aperiam distinctio quae numquam ipsam consequatur
        aspernatur repellat ratione earum exercitationem minus maiores ea saepe,
        itaque facilis porro!
      </p>
      <div class="smallText">
        <img src="./assets/img/lightbulb.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
          possimus unde, eos possimus unde, eos
        </p>
      </div>
      <div class="smallText">
        <img src="./assets/img/puzzle.svg" alt="" />
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, ratione
          eum voluptatem facere consectetur
        </p>
      </div>
    </div>
    <div></div>
  </div>

  <div class="shapes">
    <img src="./assets/img/Image2.png" class="circle" />

    <div class="lineShape"></div>
  </div>

  <img class="shadowBg" src="./assets/img/shadows/shadow5.png" alt="">
</div>
