<div class="background">
  <div class="content">
    <div class="textContainer">
      <span>About me</span>
      <p>
        Hello, my name is Gerhard Baliet, a 23-year-old career changer in
        the field of web development, based near Stuttgart. Originally from a
        different industry, I've found my interest in building and designing
        websites and web applications.
      </p>
      <div class="smallText">
        <img src="./assets/img/lightbulb.png" alt="" />
        <p>
          For me, web software development started as a hobby
          and has become a key component of my professional
          life. I enjoy tackling complex problems and appreciate
          the dynamic nature of this field. I am keen to apply my
          skills in a professional environment to enhance web applications.
        </p>
      </div>
      <div class="smallText">
        <img src="./assets/img/puzzle.svg" alt="" />
        <p>
          My approach to software development is methodical and detail-oriented.
          I focus on precise planning and effective time management. Collaboration
          and exchanging ideas with colleagues are important to me, as they foster
          continuous learning and professional growth. This approach ensures that
          I consistently deliver high-quality results.
        </p>
      </div>
    </div>
    <img src="./assets/img/Image2.png" class="circle" />

  </div>


  <img class="shadowBg" src="./assets/img/shadows/shadow5.png" alt="">
</div>