<div class="background">
  <div class="content">
    <div class="textContainer">
      <span>About me</span>
      <p>
        Hello, my name is Gerhard Baliet, and I am a 22-year-old, 
        self-motivated career changer in the world of web development, 
        based near Stuttgart. Originally working in a different industry, 
        I have discovered my true passion in creating and designing websites 
        and web applications.
      </p>
      <div class="smallText">
        <img src="./assets/img/lightbulb.png" alt="" />
        <p>
          Web software development is more than a job for me, it's a passion.
           What started as a hobby has become a vital part of my life. I thrive 
           on solving complex problems and I'm invigorated by the constant evolution 
           of the field. I'm eager to contribute to the enhancement of web applications 
           in a professional setting
        </p>
      </div>
      <div class="smallText">
        <img src="./assets/img/puzzle.svg" alt="" />
        <p>
          My approach to software development is both methodical and detail-oriented, 
          with particular emphasis on precise planning and time management. I work efficiently, 
          carefully prioritize my tasks, and value collaboration and idea exchange with colleagues. 
          This approach allows me to continuously learn, grow, and deliver quality results.
        </p>
      </div>
    </div>
    <div></div>
  </div>

  <div class="shapes">
    <img src="./assets/img/Image2.png" class="circle" />

    <div class="lineShape"></div>
  </div>

  <img class="shadowBg" src="./assets/img/shadows/shadow5.png" alt="">
</div>
