<div class="background">
    <div class="content">
        <div class="projectsBox" [@fadeInOut]  [style]="project.side" *ngFor="let project of projekts">
            <img [src]="project.image" alt="">
            <div class="description">
                <span>{{project.name}}</span>
                   <p class="technologies">{{project.technologies.join(' | ')}}</p>
                   <p> {{project.description}}</p>
                   <div class="btns" [style]="project.sidebtn">
                    <a [href]="project.url" target="_blank" class="lifeBtn">Live test</a>
                    <a [href]="project.github" target="_blank" class="gitBtn">Github</a>
                   </div>
            </div>
        </div>
    </div>
    <img class="shadowBg" src="./assets/img/shadows/shadow9.png" alt="">
    <img class="shadowBg2" src="./assets/img/shadows/shadow2.png" alt="">
</div>