.background {
    background-color: #141d2f;
    height: fit-content;
    width: 100vw;
    max-width: 100%;
    position: relative;
    color: #fff;
  }

  .content {
    max-width: 1920px;
    width: 100vw;
    margin: 0 auto;
    padding: 0 100px;
    position: relative;
    box-sizing: border-box;
  
    height: 100%;
  }

  .projectsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    span{
      font-size: 32px;
      font-weight: 700;
      color: #FF4747 !important;
      
    }
    a{
      font-size: 23px;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
    text-decoration: none;

   
    }
  }

  .technologies{
    font-size: 23px;
    font-weight: 400;
    color: #FA7902 !important;
  }

  .lifeBtn{
   
    background-color: #FF4747;
   
    &:hover{
      background-color: #FA7902 ;
  }
  }

  .gitBtn{
    background-color: #141d2f;
    border: 1px solid #FA7902 !important;

    &:hover{
      background-color: #FA7902 ;
  }
  }
  .description{
    width: 510px;
  }

  .btns{
    display: flex;
    gap: 90px;
  }