<div class="background">
  <div class="content">
    <span>Contact</span>
    <div class="contactContainer">
      <div class="contactText">
        <p class="mainPhrase">Got a problem to solve?</p>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? <b>Contact me!</b></p>
      </div>
      <div >
        <form class="inputContainer" ngNativeValidate (submit)="sendMail()" #myForm>
          <input class="input" placeholder="Your name" type="text" name="message" #nameField/>
          <input required class="input" placeholder="Your email" type="text" name="name" #emailField/>
          <textarea placeholder="Your message" name="message" #messageField></textarea>
          <button #sendBtn>Send message</button>
        </form>
      </div>
    </div>
  </div>
  <div class="redLine"></div>
  <img class="scrollUp" src="./assets/img/GoUpButton.svg" alt="" />
</div>
