<div class="background">
  <div class="content">
    <span>Contact</span>
    <div class="contactContainer">
      <div class="contactText">
        <p class="mainPhrase">Got a problem to solve?</p>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? <b>Contact me!</b></p>
      </div>
      <div class="parentInputContainer" style="position: relative">
        <div *ngIf="showMail" class="mailLoader">
          <div
            class="app-email-sent"
            *ngIf="showMailSuccess"
            [class.show]="showMailSuccess"
          >
            Ihre E-Mail wurde gesendet!
          </div>
          <div *ngIf="showMailLoader" class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <form
          class="inputContainer"
          ngNativeValidate
          (submit)="sendMail()"
          #myForm
        >
          <input
          [style.borderColor]="fieldStatus.name.success ? '#70E61C' : ''"
            (click)="checkInputStatus('name')"
            (keyup)="checkInputStatus('name')"
            required
            class="input"
            placeholder="Your name"
            type="text"
            name="message"
            #nameField
          />
          <div class="inputStatus">
            <img
              *ngIf="fieldStatus.name.success"
              src="./assets/img/greenSuccess.svg"
              alt=""
            />
            <img
              *ngIf="fieldStatus.name.warning"
              src="./assets/img/redWarning.svg"
              alt=""
            />
          </div>
          <p *ngIf="fieldStatus.name.warning" class="required">
            Your name is required
          </p>
          <input
          [style.borderColor]="fieldStatus.email.success ? '#70E61C' : ''"
            (click)="checkInputStatus('email')"
            (keyup)="checkInputStatus('email')"
            required
            class="input"
            placeholder="Your email"
            type="email"
            name="email"
            #emailField
          />
          <div class="inputStatus" style="top: 137px">
            <img
              *ngIf="fieldStatus.email.success"
              src="./assets/img/greenSuccess.svg"
              alt=""
            /><img src="" alt="" />
            <img
              *ngIf="fieldStatus.email.warning"
              src="./assets/img/redWarning.svg"
              alt=""
            />
          </div>
          <p *ngIf="fieldStatus.email.warning" class="required" style="top: 170px">
            Your email is required
          </p>

          <textarea
          [style.borderColor]="fieldStatus.message.success ? '#70E61C' : ''"
            (click)="checkInputStatus('message')"
            (keyup)="checkInputStatus('message')"
            required
            placeholder="Your message"
            name="message"
            #messageField
          ></textarea>
          <div class="inputStatus" style="top: 224px">
            <img
              *ngIf="fieldStatus.message.success"
              src="./assets/img/greenSuccess.svg"
              alt=""
            /><img src="" alt="" />
            <img
              *ngIf="this.fieldStatus.message.warning"
              src="./assets/img/redWarning.svg"
              alt=""
            />
          </div>
          <p *ngIf="fieldStatus.message.warning" class="required" style="top: 355px">
            Your message is required
          </p>

          <button type="submit" #sendBtn>Send message</button>
        </form>
      </div>
    </div>
  </div>
 <img class="shadowBg" src="./assets/img/shadows/shadow9.png" alt="">
  <div class="redLine"></div>
  <a href="#header"><img class="scrollUp" src="./assets/img/GoUpButton.svg" alt="" /></a>
</div>
