$normalFont: 16px;
$mobileFontTitle: 45px;
$fontTitle: 90px;

@mixin fontTitle {
  font-size: $fontTitle;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  @media (max-width: 550px) {
    font-size: $mobileFontTitle;
  }
}

.background {
  background-color: #141d2f;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.content {
  max-width: 1920px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 100px;
  position: relative;
  box-sizing: border-box;

  height: 100%;

  span {
    @include fontTitle;
  }
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  p {
    font-size: 16px;
  }
}

.contactText {
  width: 473px;
}
.mainPhrase {
  font-weight: 700;
  font-size: 32px !important;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 35px;
  justify-content: center;
  align-items: center;

  button {
    font-size: 23px;
    font-weight: 400;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
   
    background-color: #fa7902;
    cursor: pointer;

    &:hover {
      background-color: #ff4747;
      transform: scale(1.05);
    }
  }

  input {
    width: 617px;
    height: 50px;
    border-radius: 10px;
    background-color: #141d2f00;
    border: 1px solid #ff4747;
    color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      border: 1px solid #fa7902;
    }

    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 617px;
    height: 150px;
    min-height: 150px;
    border-radius: 10px;
    background-color: #141d2f00;
    border: 1px solid #ff4747;
    color: #fff;
    box-sizing: border-box;
    padding: 20px 20px;
    resize: vertical;
    max-height: 400px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    &:hover {
      border: 1px solid #fa7902;
    }
    &:focus {
      outline: none;
    }
  }

  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }

  textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  textarea::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}

.redLine {
  height: 4px;
  width: 100px;
  background-color: #ff4747;
  position: absolute;
  left: 0;
  top: 50px;
}

.scrollUp {
  position: absolute;
  right: 100px;
  bottom: 90px;
  cursor: pointer;

  &:hover {
    filter: invert(53%) sepia(95%) saturate(923%) hue-rotate(1deg) brightness(99%) contrast(99%);
  }
}

.app-email-sent{

}

.mailLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;

  p {
    width: 50px;
    text-align: center;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes emailSent {
  0% {
    opacity: 0;
    transform: scale(1);

  }
  
  50% {
    opacity: 1;
    transform: scale(1.1);
    
    
  }
  100% {
    opacity: 0;
    transform: scale(1);

  }
}

.app-email-sent {
  &.show {
    animation: emailSent 0.5s linear;
  }
}

@keyframes emailConfirmation {
  0% {
    opacity: 0;
    transform: translate(-25px, -40px) scale(0.9);

  }
  
  50% {
    opacity: 1;
    transform: translate(-25px, -40px) scale(1);

    
    
  }
  100% {
    opacity: 0;
    transform: translate(-25px, -40px) scale(0.9);


  }
}

.email-sent-confirmation{
  transform: translate(-25px, -40px) scale(0.9);

  &.show{
    animation: emailConfirmation 0.5s linear;
  }
}

.required {
  color: #ff4747 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  position: absolute;
  left: 0;
  top: 85px;
}

.inputStatus {
  position: absolute;
  top: 50px;
  right: 50px;

  img {
    position: absolute;
  }
}

.shadowBg{
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translate(-24%, 50%) scaleX(-1) scale(1.2) rotate(164deg);
}

@media (max-width: 1185px) {
  .contactContainer{
    flex-direction: column;
    align-items: center;   
    justify-content: space-evenly; 
  }
  .background{
    height: 120vh;
  }

  .parentInputContainer{
    display: flex;
    justify-content: flex-start;
  }
  .input{
    width: 473px !important;
  }
  textarea{
    width: 473px !important;
  }
  .content{
    height: 100vh;
  }

  .shadowBg{
    height: 500px;
    width: auto;
    opacity: 0.7;
  }
}




@media (max-width: 550px) {
  
  .content{
    padding: 0 20px;
  }

  .redLine{
    top: 25px;
    width: 20px;
  }

  .scrollUp {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  
    
  }

  .parentInputContainer{
    width: 100%;
    justify-content: center;
  }

  .contactText{
    max-width: 473px;
    width: 100%;
  }

  .input{
    width: 100% !important;
  }
  textarea{
    width: 100% !important;
  }
  .inputContainer{
    width: 90% !important;
    
    button{
      font-size: 18px;
    font-weight: 300;
    }
  }

  .mainPhrase {
    font-weight: 700;
    font-size: 23px !important;
  }

}

@media screen and (max-height: 550px) and (orientation: landscape) {
  .content{
    span{
      font-size: $mobileFontTitle;
    }
  }
  .redLine{
    top: 25px;
    width: 30px;
  }

  .background{
    height: 220vh;
  };
}