<div class="background">
  <div class="content">
    <span>Contact</span>
    <div class="contactContainer">
      <div class="contactText">
        <p class="mainPhrase">Got a problem to solve?</p>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? <b>Contact me!</b></p>
      </div>
      <div class="inputContainer">
        <input class="input" placeholder="Your name" type="text" />
        <input class="input" placeholder="Your email" type="text" />
        <textarea placeholder="Your message"> </textarea>
        <button>Send message</button>
      </div>
    </div>
  </div>
  <div class="redLine"></div>
  <img class="scrollUp" src="./assets/img/GoUpButton.svg" alt="">
</div>
