$normalFont: 16px;
$mobileFontTitle: 45px;
$fontTitle: 90px;

@mixin fontTitle {
  font-size: $fontTitle;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;

  @media (max-width: 550px) {
    font-size: $mobileFontTitle;
  }
}


.background {
  background-color: #141d2f;
  height: 800px;
  width: 100vw;
  max-width: 100%;
  position: relative;
  color: #fff;
  z-index: 3;
}

.content {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.mySkillsContainer {
  display: flex;
  flex-direction: column;
  width: 471px;
  align-items: center;
  gap: 34px;


  span {
    @include fontTitle;

  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    text-align: right;

  }

  a {
    width: fit-content !important;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 400;
    padding: 0px 30px;
    border-radius: 33px;
    background-color: #fa7902;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    text-decoration: none;

    &:hover {
      background-color: #FF4747;
      transform: scale(1.1);
    }

  }
}

.skillIconContainer {
  display: flex;
  width: 721px;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 70px;
  position: relative;
  z-index: 2;
}

.iconBox {
  width: 88px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    transform: translate(0, -10px);
  }
}

.lineShape {
  position: absolute;
  height: 4px;
  width: 58px;
  background-color: #FF4747;
  top: calc(50% - 100px);
  right: 0;
}

.shadowBg {
  position: absolute;
  top: 0;
  transform: scaley(-1) translate(-66%, -40%);



}

@media (max-width: 700px) {
  .content {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }

}

@media (max-width: 391px) {



  .mySkillsContainer {
    justify-content: flex-end;



    span {
      font-size: 45px;
    }
  }
}