<div class="background">
  <div class="content">
    <div class="skillIconContainer">
      <div class="iconBox" *ngFor="let icon of icons">
        <img [src]="icon.url" alt="" />
        <p>{{ icon.name }}</p>
      </div>
    </div>
    <div class="mySkillsContainer">
      <span>My skills</span>
      <p>
        I have grown my frontend developments skills that have allowed me to
        create different real projects.
      </p>
      <a href="#contact">Get in touch</a>
    </div>
  </div>
  <div class="lineShape"></div>
  <img class="shadowBg" src="./assets/img/shadows/shadow2.png" alt="">
</div>
