<div class="background">
<div class="introContainer">
  <img class="introImage" src="./assets/img/" alt="" />
  <img class="imageShadow" src="./assets/img/shadows/photoShadowsIntro.svg" alt="" />
  <div class="introRightSide">
    <div class="introTextContainer">
      <span class="introIam">I am</span>
      <div class="introNameContainer">
        <span class="introName">Gerhard Baliet</span>
        <span class="introDev">FRONTEND DEVELOPER</span>
      </div>
    </div>
    <button class="contactBtn"> Let's talk!</button>
  </div>
  <div class="introFooter">
    <div class="introLinks">
      <div class="redLine"></div>
      <img src="./assets/img/git.png" alt="">
      <img src="./assets/img/mail.svg" alt="">
      <img src="./assets/img/Linkedin.svg" alt="">
      <span>gerhardbaliet@yahoo.de</span>
    </div>
    <div class="scrollDown">
      <span>Scroll down</span>
      <img src="./assets/img/arrowdown.svg" alt="">
    </div>
  </div>
</div>
</div>
<img
  class="roundedBackground"
  src="./assets/img/roundedBackground.png"
  alt=""
/>
