<div class="background">
<div class="introContainer">
  <img class="introImage" src="./assets/img/" alt="" />
  <img class="imageShadow" src="./assets/img/shadows/shadow3.png" alt="" />
  <div class="introRightSide">
    <div class="introTextContainer">
      <span class="introIam">I am</span>
      <div class="introNameContainer">
        <span class="introName">Gerhard Baliet</span>
        <span class="introDev">FRONTEND DEVELOPER</span>
      </div>
    </div>
    <a href="#contact" class="contactBtn"> Let's talk!</a>
  </div>
  <div class="introFooter">
    <div class="introLinks">
      <div class="redLine"></div>
      <a href="https://github.com/tzzKr" target="_blank"><img src="./assets/img/socials/git.png" alt=""></a>
      <a href="mailto:gerhard.baliet.dev@gmail.com"><img src="./assets/img/socials/mail.svg" alt=""></a>
      <a href="https://www.linkedin.com/in/gerhardbaliet/" target="_blank"><img src="./assets/img/socials/Linkedin.svg" alt=""></a>
      <a href="mailto:gerhard.baliet.dev@gmail.com">gerhardbaliet@yahoo.de</a>
    </div>
    <div class="scrollDown">
      <span>Scroll down</span>
      <img src="./assets/img/arrowdown.svg" alt="">
    </div>
  </div>
</div>
</div>
<img
  class="roundedBackground"
  src="./assets/img/roundedBackground.png"
  alt=""
/>
