.background {
    background-color: #141d2f;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
    color: #fff;
    z-index: 3;
  overflow: hidden;
  }
  
  .content {
    padding: 0 200px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  span {
    font-size: 70px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
  }


  .textContainer {
    display: flex;
    flex-direction: column;
    max-width: 470px;
  }
  .smallText {
      display: flex;
      align-items: center;
      
  
      img {
          padding: 40px;
          box-sizing: border-box;
      }
  }

  @media (max-width: 460px) {
    .content{
      padding: 0px 50px;
      box-sizing: border-box;
    }
    .textContainer{

      span{
        font-size: 60px;
      }
    }
  }

  @media (max-width: 400px) {
    .content{
      padding: 0px 20px;
      box-sizing: border-box;
    }
    .textContainer{

      span{
        font-size: 40px;
      }
    }
  }