<div class="Desktop">
<app-introduction id="intro"></app-introduction>
<app-about id="about"></app-about>
<app-skills id="skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-projects id="projects"></app-projects>
<app-contact id="contact"></app-contact>
</div>

<div class="Mobile">
    <app-mobile-intro id="intro"></app-mobile-intro>
    <app-mobile-about id="about"></app-mobile-about>
    <app-mobile-skills id="skills"></app-mobile-skills>
    <app-portfolio id="portfolio"></app-portfolio>
    <app-projects id="projects"></app-projects>
    <app-contact id="contactMobile"></app-contact>

</div>